@use '../base/mixins' as *;
@use '../base/variables' as *;

.promo {
    background: url('../../img/promo_bg.jpg') center center / cover no-repeat;
    padding: 21px 0 93px 0;

    &__title {
        @include title;
        margin-top: 91px;
        color: $white;
        text-align: right;
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
    }

    &__subtitle {
        @include title;
        margin-top: 17px;
        color: $white;
        text-align: right;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
    }

    &__wrapper {
        margin-left: auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        gap: 0 40px;
        max-width: 424px;
    }

    &__item {
        & img {
            margin: 0 auto;
        }

    }

    &__descr {
        color: $white;
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
    }

    &__btn {
        display: block;
        margin-top: 68px;
        margin-left: auto;
    }

    &__link {
        margin-top: 10px;
        text-align: right;
        color: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        & a {
            text-transform: uppercase;
            color: $white;
        }
    }
}